index.css
body{
    font-family: "Helvetica Neue",Arial, Helvetica, sans-serif;
    line-height: 1;
    color:green;
    align-items: center;
   background: rgb(243, 187, 4);
    justify-content: center;
    display: flex;
    padding: 0;
    margin:0;
    flex-direction: column;

}

@keyframes fadetext{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}
.section1{
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    background-image: url('image1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100wh;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.sust{
color: #fcfbfa;
    font-size:2rem;
    animation: fadetext 4s infinite;
}
.combis{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2,1fr);
}
.burners{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3,1fr);
}
@keyframes bounce{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-10px);
    }
}

.container{
display: flex;
align-items:center;
justify-content: center;
background: #33ff57;
flex-wrap: wrap;
overflow-x:auto ;

padding: 10px;
border-radius: 10px;
box-sizing: border-box;
box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
margin-top: 20px;
margin-left: 5px;
margin-right: 10px;
margin-bottom: 20px;
animation: bounce 2s infinite alternate;
}

.container:hover{
    background-color: #faf4f2;
    transform: scale(1,1);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    cursor: grab;

}
.text1{
    width:45%;
    text-align: left;
    line-height: normal;
   
    padding: 0px;
    font-size: 1rem;
    color: rgb(32, 2, 2);
  

}
.image11{
    display: flex;
   width: 45%;
   align-items: center;
   
   
    
    justify-content: flex-end;    

}
.image22{
    height: 100%;
    width:100%;
    object-fit: contain;
    padding: 0px;
    max-height: 400px;
    

}
.image33{
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 0%;
    max-height: 400px;
}
.image44{
    display: flex;
    width: 40%;
    
    justify-content: flex-end; 
}
.slider-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    background: rgb(243, 187, 4);
}
.slides{
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
}

.slide{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex: 0 0 100%;
    justify-content: center;

}

.slide:nth-child(1){background: #faf4f2;}
.slide:nth-child(2){background:#33ff57;}
.slide:nth-child(3){background: #f8a304;}
.Products{
    background: #33ff57;
    border-radius: 20px;
}
.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size:30px;
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
}
.arrow:hover{
    background: black;
}
.left-arrow{
    left:10px;
}
.right-arrow{
    right:10px;
}
.btncontact{
    background: rgb(240, 241, 237);
    color:rgb(12, 11, 11);
    padding: 2px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius:10px;
    box-sizing: content-box;
}
.btncontact:hover{
    background: darkgreen;
}

html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: rgb(243, 187, 4);
}
.navclass{  
   background-color: #0cf136; 
   color:#ff5733;
   padding: 0px;
   
   box-sizing: border-box;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background 0.3s ease-in-out;
 
}
.navbar{
    display: flex;
    
    color: #ff5733;
    padding: 15px;
box-sizing: border-box;
border-top: 15px;
border-radius: 20px;
background-color: #fcfbfa;
}
.navbtn{
    box-sizing: content-box;
    border-radius: 10px;
    background-color: #0cf136;
    cursor: pointer;
border: none;
 
}
.navbtn:hover{
    background: #fcfbfa;
    color: black;
    transition: 0.1s ease-in;
}
.nav-slider{
    position:absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 0;
    background: #f8a304;
    transition: all 0.3s ease-in-out;
}
.Products{
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    padding: 5px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 20px;

}
.Products:hover{
    background-color: #faf4f2;
    transform: scale(1,1);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    cursor: normal;
}
.textproducts{
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
.contact{
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 1.2rem;
    background-color: #f8a304;
    height: fit-content;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 5px;
}
.contact:hover{
    background-color: #faf4f2;
    transform: scale(1,1);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    cursor: grab;
    

}
.about{
    box-sizing: border-box;
    border-radius: 20px;
    background-color:rgb(243, 187, 4) ;
    font-size: 1.2rem;
    width:100wh;
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right:10px;
    margin-left:10px;

}
.alert{
    box-sizing: border-box;
    border-radius: 20px;
    background-color: rgb(243, 187, 4);
    font-size: 1.2rem;
    width:100wh;
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right:10px;
    margin-left:10px;

}
.gallery{
    display: flex;
    align-items: center;

justify-content: center;
background: floralwhite;
flex-wrap: wrap;
overflow-x:auto ;
width: 100vw;
height: fit-content;
padding: 10px;
border-radius: 10px;
box-sizing: border-box;
box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
margin-top: 20px;
margin-left: 5px;
margin-right: 10px;
margin-bottom: 20px;
animation: bounce 2s infinite alternate;

}
.gallery li{
    list-style: none;
    border: 3px solid #090909;
    padding: 0px;
    text-align: center;
}
.gallery img{
    width: 250px;
    height: auto;
}
.wicon img{
    width:20px;
    height: 20px;
    margin-right: 5px;
}
.whatsapp{
    background: rgb(240, 241, 237);
    color:rgb(12, 11, 11);
    padding: 2px;
    border:1px solid black;
    cursor: pointer;
    font-size: 1rem;
    border-radius:10px;
    box-sizing: content-box;
}
.whatsapp:hover{
    background: darkgreen;
}
#orderform{
    display:none;
    flex-direction:column;
    gap:1rem;
    margin-top: 20px;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.modal{
    display:none;
    postion: fixed;
    z-index: 999;
    left: 0; top: 0;
    width:100vw; height: 100vh;
    background-color: rgba(0,0,0,0.5);
    overflow:auto;
}
.modal-content{
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius:10px;
    width: 80vw;
    max-width: 400px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    postion: relative;
}
.close{
    position: absolute;
    right: 10px; top: 10px;
    font-size:20px
    cursor: pointer;
    color:#333;
}
#orderform input{
    padding:10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#orderform button[type="submit"]{
    background-color: #007bff;
    color: white;
    padding: none;
    border-radius: 5px;
    cursor: pointer;
}
#orderform button[type="submit"]: hover{
    background-color: #0056b3;
}


@media(max-width:768px){
    .container{
        flex-direction: column;
        flex: 1;
    
       max-width: 48%;
       padding:15px;
       
       width: 100% !important  ;
       max-width: 100% !important;
        
        
    }
    .combis{
        flex-direction: column;
        resize: vertical;
        flex-wrap: wrap;
        justify-content: space-around;
     

    }
    .burners{
        flex-direction: column;
        resize: vertical;
        flex-wrap: wrap;
        justify-content: space-around;
       
    }
    .gallery{
        flex-direction: column;
        
        width: 100vw;
        height:fit-content;
    }
}
